body {
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}
.nik{
    border: 0cm;
    background-color: pink;
    text-align: center;
    color: red;
    border-radius: 20px;
    width: auto;
    height: auto;
}
input{
    border: 0cm;
    background-color: pink;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.ball {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}